
build
build/*
*.o
*.so
*.d
*.out
*.pyc
tags
.directory
doc
*.swp
.kateproject
.kateproject.d
.kdev4
.kdev4*
*.kdev4
*.layout
*.dev
*.win
*.user

slope/config.h

slope/demos/animation
slope/demos/plot_stack
slope/demos/simple
slope/demos/widgets

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
